<ion-tabs class="tabs-icon-top tabs-color-active-positive">
    <!--重新设置路由-->
    <ion-tab title="Status" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/app/tab/dash">
        <ion-nav-view name="tab-dash"></ion-nav-view>
    </ion-tab>
    <!--重新设置路由-->
    <ion-tab title="Chats" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/app/tab/chats">
        <ion-nav-view name="tab-chats"></ion-nav-view>
    </ion-tab>
    <!--重新设置路由-->
    <ion-tab title="Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/app/tab/account">
        <ion-nav-view name="tab-account"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Map" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/app/tab/map">
        <ion-nav-view name="tab-map"></ion-nav-view>
    </ion-tab>
</ion-tabs>